.contact__container{
    background: #2e3267;
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap:4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

.contact__aside{
    background: #6c63ff;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside__image{
    width: 12rem;
    margin-bottom: 2rem;
}
.contact__aside h2{
    text-align: left;
    margin-bottom: 4rem;
}

.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact__details li{
       display: flex;
       gap:1rem;
       align-items: center;
       margin-bottom: 2rem;
    }

.contact__socials{
    display: flex;
    gap:0.8rem;
    margin-top: 3rem;
}

.contact__socials a{
    background: #424890;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: all 400ms ease;
}
.contact__socials a:hover{
    background: transparent;
}





 form{
      display: flex;
      flex-direction: column;
      gap:1.2rem;
      margin-right: 4rem;
 }
 .form__name{
    display: flex;
    gap:1.2rem;
 }

 form input[type="text"]{
    width: 50%;

 }

 form input , textarea{
      width: 100%;
      padding: 1rem;
      background: #1f2641;
      color: white;
 }

 form .btn{
   width: max-content;
   margin-top: 1rem;
   cursor: pointer;
 }

 .ft{
    
 }